.about{
    padding-top: (70*$rem);
    max-width: (1060*$rem);
    width: 100%;

    &--pt{
        padding-top: (120*$rem);
    }

    &--w{
        max-width: 100%;
        width: 100%;
    }
}

.about__title{
    font-size: (72*$rem);
    line-height: (84*$rem);
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: (50*$rem);

    position: relative;

    img{
        width: (32 * $rem);
        position: absolute;
        top: 50%;
        left: (-100*$rem);
        transform: translateY(300%);
    }
}

.about__text{
    line-height: 1.8;
    font-size: (24*$rem);
    margin-bottom: (30*$rem);

    &--pb{
        padding-bottom: (30*$rem);
    }
}