.discussion{
    margin-top: calc(100*0.007rem);
    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;

    .discuss{
        border: 0.007rem solid #000;
        padding: calc(30*0.007rem);
        font-size: calc(64*0.007rem);
        color: #000;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;

        transition: all .1s linear;

        &:hover{
            background: no-repeat center url("/assets/images/Rectangle\ 46.jpg");
            background-size: cover;
            color: #fff;
            border-color: transparent;
        }
    }

    a{
        text-decoration: none;
        color: #000;
    }

    margin-bottom: calc(200*0.007rem);

    &--jc{
        justify-content: center;
        margin-bottom: calc(300*0.007rem);

        .discuss{
            font-size: calc(36*0.007rem);
        }
    }
}
