.header{
    padding: 0.63rem 20% 0;
    height: 7.56rem;

    background-size: cover !important;
    -webkit-background-size: cover !important;
    background-repeat: no-repeat !important;

    &--1{
        background: url("/assets/images/zydex/image\ 3.jpg");
    }

     &--2, &--3, &--4, &--5{
        height: 7.5;
        color: #fff;
    }

    &--2{
        background: url("/assets/images/carbag/Портфолио.jpg");
    }

    &--3{
        background: url("/assets/images/sushi/image\ 3.jpg");
    }

    &--4{
        background: url("/assets/images/home/image\ 3.jpg");
    }

    &--5{
        background: url("/assets/images/decolte/image\ 3.jpg");
    }

    &--6{
        background: url("/assets/images/sideral/image\ 3.jpg");
    }

    &--7{
        position: relative;
        z-index: 10;
    }

    &--why{
        position: relative;
        background: url("/assets/images/text-foninet.jpg");
        left: -30%;
        padding: 0.63rem 5% 0;
    }

    &--bg{
        background-position-x: -2rem;
    }

    &--h{
        height: (800*$rem);
    }
}

.header__gr{
    position: absolute;
    top: 30%;
    z-index: 1000;
    width: 100%;

    animation-name: go;
    animation-duration: 20s;
    animation-iteration-count: infinite;

    @keyframes go {
        from{
            transform: translateX(-120%);
        }
        50%{
            transform: translateX(100%);
        }
        to{
            transform: translateX(-120%);
        }
    }
}

.header__main{
    position: relative;
}

.header__main2{
    padding-top: (250*$rem);
    padding-bottom: (100*$rem);
    display: flex;

    position: relative;

    &--second{
        display: block;

        .jump{
            position: absolute;
            right: (270*$rem);
            top: 2.37rem;
            z-index: 2;

            &:after{
                display: block;
                content: "";
                width: (30*$rem) !important;
                height: (30*$rem) !important;
                background-color: transparent;
                border: .04rem solid #000;
                border-top: 0;
                border-left: 0;
                transform: rotate(45deg);
            }

            img{
                width: (25*$rem);
                height: (25*$rem);

                animation: drop-ball ease-in infinite 1.5s;

                @keyframes drop-ball {
                    from {
                        opacity: 0;
                        -webkit-transform: translateY(-400%) translateX((5*$rem));
                        transform: translateY(-400%) translateX((5*$rem));
                    }

                    20%{
                        opacity: 1;
                    }

                    99%{
                        opacity: 0.9;
                    }
                
                    to {
                        opacity: 0;
                        -webkit-transform: translateY(160%) translateX((5*$rem));
                        transform: translateY(160%) translateX((5*$rem));
                    }
                }
            }
        }
    }
}

.header__main3{
    padding-top: (250*$rem);
    padding-bottom: (100*$rem);
    display: flex;

    position: relative;

    &--pb{
        padding-bottom: (153*$rem);
    }
}

.btn__header__port{
    position: absolute;
    right: (100*$rem);
    bottom: (30*$rem);
}

.btn__port{
    text-decoration: none;
    color: #000;
    padding: (37*$rem) (150*$rem) (32*$rem);
    background-color: #F3F3F3;;
    
    font-size: (20*$rem);
    letter-spacing: 0.94em;
    text-transform: uppercase;

    position: relative;

    &:after{
        content: "";
        height: (17*$rem);

        background-color: transparent;
        border-left: $rem solid #000;

        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: (84*$rem);
    }

    &:before{
        content: "";
        height: (7*$rem);
        width: (7*$rem);

        background-color: transparent;
        border-left: $rem solid #000;
        border-bottom: $rem solid #000;

        position: absolute;
        top: 50%;
        transform: translateY(-30%) rotate(-45deg);
        right: (80*$rem);
    }
}

.header__title{
    font-weight: 900;
    font-size: (72em / 21);
    text-transform: uppercase;
    padding-bottom: (40*$rem);
}

.header__top{
    position: relative;
    z-index: 1000;
    margin-bottom: 0.21rem;
    display: flex;
    justify-content: space-between;
}

.header__left{
    display: flex;

    img{
        margin-right: 0.07rem;
    }
}

.header__left2{
    img{
        display: block;
        width: (42*$rem);
    }
}

.header__left2-nav{
    transform: translateY((-45*$rem));
    padding-bottom: ($rem*100);
}

.header__left3-nav {
    transform: translateY((-45*$rem)) translateX(245%);
    padding-bottom: ($rem*90);
}

.header__logo{
    display: flex;

    img{
        height: (40*$rem);
    }
}

.header__right{
    padding-top: 0.07rem;
    justify-content: right;
}

.header__right3{
    margin-left: (1000*$rem);
    position: relative;

    span{
        cursor: pointer;

        content: "";
        height: 0.035rem;
        width: 0.56rem;
        position: absolute;
        top: 23%;
        transform: translateY(-50%);
        
        &.btn--prev{
            left: (-180 * $rem - 0.56rem);
            background-color: #fff;
        }

        &.btn--next{
            left: (-180 * $rem);
            background-color: #000;
        }
    }
}

.white{
    color: #fff;
}

.header__number{
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: (10 * $rem);
}

.header__number2{
    font-size: (48*$rem);
    padding-bottom: (40*$rem);
}

.header__name{
    font-family: 'Roboto';
    font-weight: 800;
    font-size: 1.75rem;
    text-transform: uppercase;
    float: right;

    padding-top: (200*$rem);
    margin-bottom: (100*$rem);
    float: right;
    
    &--mb{
        margin-bottom: (30*$rem) !important;
    }
}

.header__name1{
    font-size: (80*$rem);
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: (1060*$rem);

    &--1{
        position: relative;

        &:after, &:before{
            content: "";
            height: 0.035rem;
            width: 0.56rem;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    
        &:before{
            right: (-100 * $rem);
            background-color: #fff;
        }
    
        &:after{
            right: (-100 * $rem - 0.56rem);
            background-color: #000;
        }
    }

    &--2{
        position: relative;
        margin-right: 0;
        line-height: 1.2;

        &:before{
            right: (80 * $rem);
            background-color: rgb(255, 20, 20);
        }
    
        &:after{
            right: (-80 * $rem + 0.56rem);
            background-color: #000;
        }
    }
}

.header__description{
    line-height: 1.3;
    font-size: 0.168rem;

    padding-left: 50%;

    b{
        font-weight: 400;
    }

    &--pl0{
        padding-left: 0;
        padding-top: (35*$rem);
        line-height: 1.7;
    }

    &--ft{
        text-transform: capitalize;
    }
}

.header__desk{
    width: (700*$rem);
    line-height: 1.3;
}

.header__back{
    margin-top: 0.35rem;
    font-weight: 600;
    font-size: 0.147rem;
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    position: relative;
    display: block;

    &:hover{
        &:after, &:before{
            transform: translateY(-50%) translateX(0%);
            opacity: 1;
        }
    }

    &:after, &:before{
        content: "";
        height: 0.035rem;
        width: 0.56rem;
        position: absolute;
        top: 50%;

        transform: translateY(-50%) translateX(-100%);
        opacity: 0;

        transition: all .4s linear;
    }

    &:before{
        background-color: #D0D0D0;
        left: 0.63rem;
    }

    &:after{
        left: (0.63rem + 0.56rem);
        background-color: #000;
    }

    span{
        float: right;
    }

    &--carb{
        color: #fff;

        &:before{
            background-color: #fff;
        }
    }

    &--af{
        margin-top: (25*$rem);

        &:before{
            background-color: #000;
            left: 1.1rem;
        }
    
        &:after{
            left: (1.1rem + 0.56rem);
            background-color: #D0D0D0;;
        }
    }
}

.header__foot{
    font-size: (14*$rem);
    height: (30*$rem);
    font-weight: 500;
    line-height: 1.1;
    width: (170*$rem);
    text-transform: uppercase;
    transform: rotate(-90deg) translateY(-200%);

    &--3{
        width: (190*$rem);
        transform: rotate(-90deg) translateY(-750%) translateX(20%);
    }
}

.keywords{
    position: absolute;
    bottom: 1%;
    left: 15%;

    font-size: (20*$rem);
    line-height: 3.3;

    letter-spacing: 3.43em;
    text-transform: uppercase;
}

.header__main__footer{
    display: flex;

    position: absolute;
    bottom: 0;
    left: 15%;

    img{
        width: (210*$rem);
        height: (211*$rem);
    }
}

.keywords__text{
    width: (455*$rem);
    padding: (60*$rem) (50*$rem) 0;

    font-weight: bold;
    font-size: .85em;
    text-transform: uppercase;
    line-height: 1.5;

    background: #9760FA;
    background-blend-mode: screen !important;
}