.parent {
    position: absolute;
    left: 0;
    top: 0;
    width: (400*$rem);
    height: (400*$rem);
}

.message, .message-1 {
    height: (120*$rem);
    width: (120*$rem);
    background-color: orange;
    color: white;
    z-index: -9999;
    line-height: (115*$rem);
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: bold;

    -webkit-border-radius: (60*$rem);
    -moz-border-radius: (60*$rem);
    border-radius: (60*$rem);
}
