<div class="scroll-block">
  <div class="scroll-third-row-container">
      <ul class="scroll-third-row-list1 footer-scroll"></ul>
      <ul class="scroll-third-row-list2 footer-scroll"></ul>
  </div>
  <div class="scroll-second-row-container mobile-scroll-container">
      <ul class="scroll-second-row-list1 footer-scroll"></ul>
      <ul class="scroll-second-row-list2 footer-scroll"> </ul>
  </div>
  <div class="scroll-first-row-container mobile-scroll-container">
      <ul class="scroll-first-row-list1 footer-scroll"></ul>
      <ul class="scroll-first-row-list2 footer-scroll"></ul> 
  </div>
</div>